.button {
  background: $bright-blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  transition: .5s;
}
.button:hover {
  background: darken($bright-blue, 5%);
}
.button--link,
.button--link:hover {
  background: none;
}
.button--secondary {
  background-color: #888888;
}
